<nav class="flex justify-between items-center">
    <div class="text-lg font-semibold">
        <a href="/" class="hover:text-gray-300">escapedesk</a>
    </div>
    <ul class="flex space-x-4">
        <li><a href="/" class="hover:text-gray-300">Home</a></li>
        <li><a href="/login" class="hover:text-gray-300">Login</a></li>
    </ul>
</nav>