<nav class="flex justify-between items-center">
    <div class="text-lg font-semibold">
        <a href="/" class="hover:text-gray-300">escapedesk</a>
    </div>
    <ul class="flex space-x-4">
        <li><a href="/users" class="hover:text-gray-300">Users</a></li>
        <li><a href="/vacation_requests" class="hover:text-gray-300">Vacation Requests</a></li>
        <li><a href="/login" class="hover:text-gray-300">Login</a></li>
        <li><a href="/logout" class="hover:text-gray-300">Logout</a></li>
    </ul>
</nav>